@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  --cb-textPrimary: rgba(32, 33, 37, 1);
  --cb-textSecondary: rgba(32, 33, 37, 0.64);
  --cb-textTertiary: rgba(32, 33, 37, 0.4);
  --cb-surfaceMain: rgba(255, 255, 255, 1);
  --cb-borderLight: rgba(32, 33, 37, 0.12);
  --cb-a11yFocusIndicator: rgba(15, 37, 148, 1);
}
